.die-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vw;
  background-color: red;
  border-radius: 15px;
}

.number {
  color: white;
  text-align: center;
}
