.start__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adadad;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.start__blackMarble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  background-color: black;
  box-shadow: 40px 40px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.start__title {
  color: white;
  font-size: 6vw;
}

.start__marble {
  width: 26%;
  height: 0;
  padding-bottom: 26%;
  border-radius: 50%;
  position: absolute;
}

.start__green {
  background-color: #1b5606;
  top: -7vw;
  left: -7vw;
}
.start__red {
  background-color: #a71a1a;
  top: -7vw;
  right: -7vw;
}
.start__blue {
  background-color: #124098;
  bottom: -7vw;
  left: -7vw;
}
.start__grey {
  background-color: #d9d9d9;
  bottom: -7vw;
  right: -7vw;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 2% 5%;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 5%;
}
